.row {
    margin: 0;
    padding: 20px;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px; /* Задайте фиксированную высоту для изображений */
    object-fit: cover; /* Обеспечивает правильное отображение изображений */
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px 0;
}

.card-text {
    font-size: 1rem;
    color: #333;
}
